body {
  text-align: center;
  background-color: darkcyan;
  font-weight: 450;
  font-size: 20px;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
